//08_import.scss
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

// 외부 scss불러오기(확장자굳이작성X)
@import '08style';

//전역 변수선언
$bigFontSize: 26px; //@import '08style'; 변수보다 우선
$Color: #0af;
$background: #ccc;
h2{
  font-family: "Noto Sans KR";
  font-size: $bigFontSize;
  color: $Color;
  background-color: $background;
}