// 08_style.scss
// 스타일 가이드에서 설정된 색상값, 글꼴관련 서식값, 링크관련 서식값

//전역변수
$myFont: '맑은 고딕', arial, sans-serif;
$baseFontColor: #333;
$bigFontSize: 30px;
$baseFontSize: 12px;
$boxWidth: 1280px;
$boxCenter: 0px auto;
$bgColor: #ec0;

body{
  //지역변수
  $p01: #f20;
  font-family: $myFont;
  font-size: $baseFontSize;
  color: $baseFontColor;
}
h1{font-size: $bigFontSize;}
#wrap{
  $bgColor01: #1d1;
  width: $boxWidth;
  height: 300px;
  background: $bgColor;
  border: 1px solid $bgColor01;
  margin: $boxCenter;
}