//main.scss

$main_color_o: #F36F21;
$main_color_g: #2F2F2F;
$sub_color_w: #fff;
$sub_color_wg: #f1f1f1;
$sub_color_y: #ffc845;

$t_size_s: 13px;
$t_size_m: 15px;
$t_size_l: 17px;
$t_size_t1: 30px;
$t_size_t2: 3rem;

main{width: 100%; color: $main_color_g;}
.mslide{width: 100%;}
.mslide ul li a img{width: 100%;}

.m_char{
  width: 100%; background: $sub_color_wg;
  display: flex;
  padding: 10% 20%;
}
.m_char h2{
  font-size: $t_size_t2;
  padding-bottom: 5%;
}
.m_char section{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.m_char_nav{
  display: flex;
  gap: 15px;
  margin: 0 auto;
}
.m_char_nav > ul{
  text-align: left;
}
.m_char_nav > li{
  margin: 20px 0px;
}
.m_char_nav > li > a{
  background: $main_color_g; 
  font-weight: bold; color: $sub_color_w;
  padding: 15px 10px;
}
.m_char section{
  width: 50%;
  max-width: 900px;
}
.m_act{
  background: $main_color_o !important; 
}



// 이미지 갤러리
body{
  font-family: "맑은 고딕", Arial, sans-serif;
  font-weight: 500;
}

.bg {
  width: 100%;
  background-color: #F36F21;
}
.story {
  width: 1080px;
  background-color: #F36F21;
  padding: 30px;

  position: relative;
  left: 300px;
}
.story > h2 {
  color: #fff;
  font-size: 53px;
  margin-bottom: 30px;
}
#gallery_story{
  display: grid; grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  margin: 0 30px 0 30px;
}
#gallery_story > article {overflow: hidden;}
#gallery_story .miero_g_02{grid-area: 1/2 / 3/3;}

#gallery_story > article > img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}



#gallery_story figure {
  position: relative;
}

#gallery_story figcaption {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  width: 100%; height: 80px;
  position: absolute;
  left: 0px; bottom: -150px;
  transition: 0.5s;
  padding: 20px;
  
}
#gallery_story a:hover figcaption{bottom: 0px;}

#gallery_story h3 {
  color: #F36F21;
  font-size: 30px;
  padding-bottom: 15px;
}
.g_mp4{
  border: 2px solid #fff;
  padding: 10px;
  position: absolute;
  right: 60px;
  bottom: 40px;
}